{% extends "accounts/account.html" %} {% block title %}Profile{% endblock %} 
{% block subpage_content %}
<div id="profile">
  <div class="main-account-container w-auto" style="max-width: 700px">
    <div class="d-flex justify-content-center align-items-center w-auto mb-5">
      {% if user.profile.image %}
      <img
        src="{{  user.profile.image.url }}"
        class="profile-image mb-3"
        alt="Profile Image"
      />
      {% elif user.google_image %}
      <img
        src="{{ user.google_image }}"
        class="profile-image mb-3"
        alt="Profile Image"
      />
      {% else %}
      <p>
        No profile image available. Please upload one or register with Google
      </p>
      {% endif %}
    </div>

    <div class="w-100 px-4 info-container">
      <div class="row border-top py-2 text-start justify-content-between">
        <div class="col-auto col-sm-6 fw-semibol">Username</div>
        <div class="col-6 col-sm-6 fw-mediu">{{ user.username }}</div>
      </div>
      <div class="row border-top py-2 text-start justify-content-between">
        <div class="col-auto col-sm-6 fw-semibol">Email</div>
        <div class="col-6 col-sm-6 fw-mediu">{{ user.email }}</div>
      </div>
      <div class="row border-top py-2 text-start justify-content-between">
        <div class="col-auto col-sm-6 fw-semibol">First Name</div>
        <div class="col-6 col-sm-6 fw-mediu">{{ user.first_name }}</div>
      </div>
      <div class="row border-top py-2 text-start justify-content-between">
        <div class="col-auto col-sm-6 fw-semibol">Last Name</div>
        <div class="col-6 col-sm-6 fw-mediu">{{ user.last_name }}</div>
      </div>
      <div class="row border-top py-2 text-start justify-content-between">
        <div class="col-auto col-sm-6 fw-semibol">Balance</div>
        <div class="col-6 col-sm-6 fw-mediu">
          <span class="text-success">{{ balance.amount|floatformat:2 }} $</span>
        </div>
      </div>
      <div class="row border-top py-2 text-start justify-content-between">
        <div class="col-auto col-sm-6 fw-semibol">Bio</div>
        <div class="col-6 col-sm-6 fw-mediu">{{ user.profile.bio }}</div>
      </div>
      <div class="row border-top py-2 text-start justify-content-between">
        <div class="col-auto col-sm-6 fw-semibol">Country</div>
        <div class="col-6 col-sm-6 fw-mediu">{{ user.profile.country }}</div>
      </div>
      <div class="row border-top py-2 text-start justify-content-between">
        <div class="col-auto col-sm-6 fw-semibol">Date Joined</div>
        <div class="col-6 col-sm-6 fw-mediu">
          {{ user.date_joined|date:"F j, Y" }}
        </div>
      </div>
      <div
        class="row border-top border-bottom py-2 mb-5 text-start justify-content-between"
      >
        <div class="col-auto col-sm-6 fw-semibol">Last Login</div>
        <div class="col-6 col-sm-6 fw-mediu">
          {{ user.last_login|date:"F j, Y" }}
        </div>
      </div>
      <div>
        <a href="{% url 'accounts:change_all' %}" class="btn w-100 btn-shady">
          Edit
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
